html, body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to bottom left, #222, black);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
}

audio {
  width: 100%;
}

label {
  margin: .5rem;
  color: white;
  display: flex;
  flex-direction: column;
}

input {
    margin-top: .5rem;
}

#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}